<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWA Recibo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>{% include "./style.css" %}</style>
</head>
<body>
    <main>
        <section class="not-print">
            <h1>PWA Recibo</h1>
            {% include "form.liquid" %}
        </section>
        <section class="only-print">
            {% include "preview.liquid" %}
        </section>
        <div id="pdfPivot">
            <iframe id="output-pdf" src=""></iframe>
        </div>
    </main>
    <script>{% include "script.js" %}</script>
</body>
</html>
