
<div class="row">
    <form class="col s12" id="reciboForm">
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="nome" type="text" class="validate" required>
                <label for="nome">Nome</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
            <div class="input-field col s12 l6">
                <input id="cpf" type="text" class="validate" required>
                <label for="cpf">CPF/CNPJ</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="numeroRecibo" type="text" class="validate" required>
                <label for="numeroRecibo">Número do Recibo</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
            <div class="input-field col s12 l6">
                <input id="valor" type="text" class="validate" required>
                <label for="valor">Valor R$</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="recebiDe" type="text" class="validate" required>
                <label for="recebiDe">Recebi(emos) de</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
            <div class="input-field col s12 l6">
                <input id="referenteA" type="text" class="validate" required>
                <label for="referenteA">Referente a</label>
                <span class="helper-text" data-error="Campo obrigatório"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Comprovante (PIX)</span>
                        <input type="file" id="pdfInput">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
