<br/>
<div class="row only-print">
    <div class="col s4">Recibo</div>
    <div class="col offset-s2 s1">N:</div>
    <div class="col s3">Valor:</div>
</div>

<div class="row only-print">
    <div class="col s4">Recebi(emos) de</div>
    <div id="view-pagante" class="col s8">&nbsp;</div>
    <div class="col s4">A importância de</div>
    <div id="view-importancia" class="col s8">&nbsp;</div>
    <div class="col s4">E Clareza firmo(amos) o presente</div>
    <div id="view-data" class="col s8">&nbsp;</div>
</div>

<div class="row only-print">
    <div class="col s12">Assinatura Eletronica:</div>
    <br/><br/><br/><br/><br/><br/>
</div>

<div class="row only-print">
    <div class="col s3">Nome:</div>
    <div id="view-pagante" class="col s3"></div>
    <div class="col s3">CPF/CNPJ:</div>
    <div id="view-importancia" class="col s3"></div>
</div>

<div id="pdfPivot">
    <iframe id="pdfPreview" src=""></iframe>
</div>